body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    float: left;
}
.logo {
    width: 40px;
    height: 30px;
    object-fit:contain;
    object-position: center;
    display: inline-block;
    float: left;
    margin-left: 25px;
}
.logo-txt {
    display: inline-block;
    color: #000;
    line-height: 20px;
    font-size: 16px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}
.orange {
    color: #F94A15;
}
.menu {
    display: inline-block;
    float: right;
}
.link {
    display: inline-block;
    float: left;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
}
.link:first-child {
    margin-left: 0;
}
.link:hover {
    text-decoration: underline;
    color: red;
}
.left-part {
    width: 45%;
    float: left;
    display: block;
}
.main-txt{
    margin-left: 10%;
    margin-top: 15%;
    display: block;
    font-weight: normal;
}
.as-br {
    display: block;
    float: left;
}
.small-txt {
    margin-left: 10%;
    font-size: 14px;
    display: block;
}
.red-block {
    background-color: #FA4920; 
    line-height: 18px;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 130px;
    margin-left: 10%;
    text-align: center;
}
.left-bottom {
    margin-left: 0;
    margin-top: -15%;
    display: inline-block;
    float: left;
}
.main-img {
    width: 60%;
    display: block;
    float: left;
    margin-left: -8%;
}