body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, main {
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
    background-color: aquamarine;
    display: inline-block;
    float: left;
}
img {
    display: inline-block;
    float: left;
}
#img-logo {
    width: 40px;
    height: 30px;
    background-color: burlywood;
    object-fit:contain;
    object-position: center;
    display: inline-block;
    float: left;
    margin-left: 25px;
}
nav {
    display: inline-block;
    float: right;
}
a {
    display: inline-block;
    float: right;
}
main {
    margin-top: 20px;
}