body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, main {
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
    background-color: aquamarine;
    display: inline-block;
    float: left;
}
img {
    display: inline-block;
    float: left;
}
#img-logo {
    width: 40px;
    height: 30px;
    background-color: burlywood;
    object-fit:contain;
    object-position: center;
    display: inline-block;
    float: left;
    margin-left: 25px;
}
p {
    display: inline-block;
    color: #000;
    line-height: 20px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}
p.orange {
    color: #F94A15;
}
nav {
    display: inline-block;
    float: right;
}
a {
    display: inline-block;
    float: left;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
}
a:first-child {
    margin-left: 0;
}
a:hover {
    text-decoration: underline;
    color: red;
}
main {
    margin-top: 20px;
}