body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, main {
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    float: left;
}
header > img {
    width: 40px;
    height: 30px;
    object-fit:contain;
    object-position: center;
    display: inline-block;
    float: left;
    margin-left: 25px;
}
header > p {
    display: inline-block;
    color: #000;
    line-height: 20px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}
p > span {
    color: #F94A15;
}
nav {
    display: inline-block;
    float: right;
}
a {
    display: inline-block;
    float: left;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
}
a:first-child {
    margin-left: 0;
}
a:hover {
    text-decoration: underline;
    color: red;
}
main {
    margin-top: 20px;
}
dev {
    width: 45%;
    float: left;
    display: block;
}
h1 {
    margin-left: 10%;
    margin-top: 15%;
    display: block;
    font-weight: normal;
}
h1 > span{
    display: block;
    float: left;
}
span > span {
    color: #F94A15;
}
dev > p {
    margin-left: 10%;
    font-size: 14px;
    display: block;
}
dev > dev {
    width: 40%;
    display: block;
    float: left;
}
#orange {
    background-color: #FA4920; 
    line-height: 18px;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 130px;
    text-align: center;
}
dev > img {
    margin-left: 0;
    margin-top: -15%;
    display: inline-block;
    float: left;
}
main > img {
    width: 60%;
    display: block;
    float: left;
    margin-left: -8%;
}